
.bulle {
    background-color: white;
    width: 70px;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    z-index: 1;
    font-weight: bold;
}

#topButton {
    position: absolute;
    width: 100%;
    height: 23%;
    opacity: 0.3;
}
#rightButton {
    position: absolute;
    width: 30%;
    height: 50%;
    opacity: 0.3;
    right: 0;
    top: 22%;
}
#botButton {
    position: absolute;
    width: 100%;
    height: 27%;
    opacity: 0.3;
    bottom: 0;
}
#leftButton {
    position: absolute;
    width: 30%;
    height: 50%;
    opacity: 0.3;
    left: 0;
    top: 22%;
}